In [31]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [32]:
print("The first planet is", planets[0])
print("The second planet is", planets[1])
print("The third planet is", planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [33]:
planets[3] = "Red Planet"
print(planets[3])
print(planets)
print("Mars is also known as", planets[3])

Red Planet
['Mercury', 'Venus', 'Earth', 'Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
Mars is also known as Red Planet

In [34]:
number_of_planets = len(planets)
print(number_of_planets)
print("There are", number_of_planets, "planets in the solar system.")

8
There are 8 planets in the solar system.

In [35]:
planets.append("Pluto")

In [37]:
number_of_planets = len(planets)
print(number_of_planets)
print("There is actually", number_of_planets, "planets in the solar system.")

9
There is actually 9 planets in the solar system.

In [38]:
planets.pop()

'Pluto'

In [40]:
number_of_planets = len(planets)
print(number_of_planets)
print("No, there are definitely", number_of_planets, "planets in the solar system")

8
No, there are definitely 8 planets in the solar system

In [42]:
print("The first planet is", planets[0])

The first planet is Mercury

In [44]:
print("The last planet is", planets[-1])
print("The penultimate planet is", planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

In [51]:
jupiter_index = planets.index("Jupiter")
print("Jupiter is the", jupiter_index + 1, "th planet from the sun")
print(f"Jupiter is the {jupiter_index+1}th planet from the Sun")

Jupiter is the 5 th planet from the sun
Jupiter is the 5th planet from the Sun

In [ ]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

In [53]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
print(gravity_on_planets)

[0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [55]:
bus_weight = 12650
print("On Earth, a double decker bus weights", bus_weight, "KG")
print("On Mercury, a double decker bus weights", bus_weight * gravity_on_planets[0], "KG")

On Earth, a double decker bus weights 12650 KG
On Mercury, a double decker bus weights 4781.7 KG

In [57]:
min(gravity_on_planets)
max(gravity_on_planets)

2.36

In [63]:
bus_weight = 12650
print(f"On Earth, a double decker bus weights {bus_weight} kg")
print(f"The lightest a bus would be in the solar system is {bus_weight * min(gravity_on_planets)} kg")
print(f"The heaviest a bus would be in the solar system is {bus_weight * max(gravity_on_planets)} kg")

On Earth, a double decker bus weights 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [67]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [68]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [70]:
amalthea_moons = ["Metis", "Adrastea", "Amalthea", "Thebe"]
galilean_moons = ["Io", "Europa", "Ganymede", "Callisto"]

regular_satelite_moons = amalthea_moons + galilean_moons
print(f"The regular satellite moons of Jupiter are {regular_satelite_moons}")

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [74]:
regular_satelite_moons.sort()
print(regular_satelite_moons)
print(f"The regular satellite moons of Jupiter are {regular_satelite_moons}")

['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [75]:
regular_satelite_moons.sort(reverse=True)
print(regular_satelite_moons)

['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']