In [ ]:
name = "Earth"
moons = 1

earth_name = "Earth"
earth_moons = 1
jupiter_name = "Jupiter"
jupiter_moons = 79

In [16]:
planet = {
    "name": "Earth",
    "moons": 1
}

print(planet.get("name"))

Earth

In [17]:
planet["moons"]

1

In [15]:
wibble = planet.get("wibble")
print(wibble)

None

In [21]:
planet.update({
    "name": "Makemake"
})
print(planet)

planet["name"] = "Earth"
print(planet)

{'name': 'Makemake', 'moons': 1}
{'name': 'Earth', 'moons': 1}

In [23]:
planet.update({
    "name": "Jupiter",
    "moons": 79
})
print(planet)

planet["name"] = "Venus"
planet["moons"] = 44

print(planet)

{'name': 'Jupiter', 'moons': 79}
{'name': 'Venus', 'moons': 44}

In [24]:
planet["orbital period"] = 4333
print(planet)

{'name': 'Venus', 'moons': 44, 'orbital period': 4333}

In [25]:
planet.pop("orbital period")
print(planet)

{'name': 'Venus', 'moons': 44}

In [27]:
planet["diameter (km)"] = {
    "polar": 133709,
    "equatorial": 142984
}

print(planet)

{'name': 'Venus', 'moons': 44, 'diameter (km)': {'polar': 133709, 'equatorial': 142984}}

In [31]:
print(planet.get("diameter (km)"))

{'polar': 133709, 'equatorial': 142984}

In [33]:
rainfall = {
    "october": 3.5,
    "november": 4.2,
    "december": 2.1
}

In [40]:
for key in rainfall.keys():
    print(f"{key}: {rainfall[key]}cm")

october: 3.5cm
november: 4.2cm
december: 2.1cm

In [41]:
if "december" in rainfall:
    rainfall["december"] = rainfall["december"] + 1
else:
    rainfall["december"] = 1

print(rainfall)

{'october': 3.5, 'november': 4.2, 'december': 3.1}

In [42]:
total_rainfall = 0

for value in rainfall.values():
    total_rainfall = total_rainfall + value

print(f"There is a total of {total_rainfall}cm of rain in the last quarter")

There is a total of 10.8cm of rain in the last quarter